<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylsheets/style.css">
  <title>Edit a Destination</title>
</head>
<body>
  <%- include('../partials/_nav') %>
  <main>
  <h1>Edit a new Destination</h1>
  <form action="/destinations/<%= destination._id %>?_method=PUT" method="POST">
    <label for="city">City:</label>
    <input type="text" name="city" id="city" value="<%= destination.city %>"/>

    <label for="country">Country:</label>
    <input type="text" name="country" id="country" value="<%= destination.country %>"/>

    <label for="description">Description:</label>
    <textarea name="description" id="description"><%= destination.description %></textarea>

    <label for="population">Population:</label>
    <input type="number" name="population" id="population" value="<%= destination.population %>"/>

    <label for="date">Date:</label>
    <input type="date" name="date" id="date" value="<%= fieldValues.date %>" required>
    
    <label for="images">Images:</label>
    <input type="file" name="images" id="images" accept="image/*" multiple>

    <button class="btn" type="submit">Edit Destination</button>
    <a class="link" href="/planets">Back to Destinations</a>
  </form>
  </main>
</body>
</html>