<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destinations Index</title>
    <link rel="stylesheet" href="stylsheets/style.css">
  </head>
  <%- include('../partials/_nav') %>
  <body>
    <div class="centred">
      <% if (user) { %>
        <h1>The whole world awaits, <%= user.username %>!</h1>
      <% } else { %>
        <h1>The whole world awaits!</h1>
      <% } %>
    </div>
    <main>
      <div class="card-container">
        <h1 class="headline">Top Vacation Destinations</h1>
        <div class="card-grid">
          <% destinations.forEach(destination => { %>
            <div class="card">
              <img src="<%= destination.images %>" alt="<%= destination.city %>, <%= destination.country %>">
              <div class="card-info">
                <h2><%= destination.city %>, <%= destination.country %></h2>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="social-icons">
        <a href="#"><img src="/images/social_icons/Facebook.png" alt="Facebook" /></a>
        <a href="#"><img src="/images/social_icons/Instagram.png" alt="Instagram" /></a>
        <a href="#"><img src="/images/social_icons/twitter.png" alt="Twitter" /></a>
        <a href="#"><img src="/images/social_icons/youtube.png" alt="YouTube" /></a>
      </div>
    </footer>
  </body>
  </html>