<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylsheets/style.css">
  <title>Create a Destination</title>
</head>
  <body>
    <%- include('../partials/_nav') %>
    <main>
      <h1>Create a New Destination!</h1>
      <form class="form" action="/destinations" method="POST" enctype="multipart/form-data">

        <label for="city">City:</label>
        <input type="text" name="city" id="city" value="<%= fieldValues.city %>" required/>
        <% if (errors.city) { %>
          <p><small class="error"><%= errors.city.message %></small></p>
        <% } %>

        <label for="country">Country:</label>
        <input type="text" name="country" id="country" value="<%= fieldValues.country %>" required />
        <% if (errors.country) { %>
         <p><small class="error"><%= errors.country.message %></small></p>
        <% } %>

        <label for="description">Description:</label>
        <textarea name="description" id="description" required><%= fieldValues.description %></textarea>
        <% if (errors.description) { %>
          <p><small class="error"><%= errors.description.message %></small></p>
        <% } %>

        <label for="population">Population:</label>
        <input type="number" name="population" id="population" value="<%= fieldValues.population %>" />
        <% if (errors.population) { %>
          <p><small class="error"><%= errors.population.message %></small></p>
        <% } %>

        <label for="date">Date:</label>
        <input type="date" name="date" id="date" value="<%= fieldValues.date %>" required>
        <% if (errors.date) { %>
          <p><small class="error"><%= errors.date.message %></small></p>
        <% } %>

        <label for="images">Images:</label>
        <input type="file" name="images" id="images" accept="image/*" multiple>

        <button class="btn" type="submit">Create Destination</button>
        <a class="link" href="/">Back to Destinations</a>
      </form>
  </main>
 </body>
</html> 