<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= destination.name %></title> <!-- Dynamic title based on destination name -->
    <link rel="stylesheet" href="/stylsheets/style.css">
  </head>
  <body>
    <%- include('../partials/_nav') %>
    <main>
      <h1><%= destination.name %></h1> <!-- Display destination name -->
      
       <!-- ! Images -->
        <div class="images">
          <%= destination.images.forEach((image, idx) => { %>
            <img src="/<%= image %>" alt="<%= destination.city %> display image <%= idx + 1 %>">
            <% }) %>
          </div>

      <p><%= new Date(destination.date).toDateString() %></p>
      <p><%= destination.description %></p>
      
      <% if (user !== null && destination.user._id.equals(user._id)) { %>
        <p>You own this destination</p>
        <div class="destination-btns">
          
          <!-- Form to delete destination -->
          <form class="btn-form" action="/destinations/<%= destination._id %>?_method=DELETE" method="POST">
            <button class="btn delete" type="submit">Delete <%= destination.city %></button>
          </form>
    
          <!-- Link to edit form -->
          <a class="btn edit" href="/destinations/<%= destination._id %>/edit">Edit <%= destination.city %></a>
        </div>
      <% } else { %>
        <p>This is an destination by <%= destination.user.username %></p>  
      <% } %>


      <!-- Like Section -->
      <h2>likes</h2>

      <!-- Create like -->
      <%= if (user) { %>
        <form class="form" action="/destinations/<%= destination._id %>/likes" method="POST">
          <label for="like-text">Leave a Comment:</label>
          <input type="text" name="text" id="like-text" placeholder="Add a short comment (optional)">
          <%=if (message) { %>
            <p><small class="error"><%= message %></small></p>
          <%= } %>
          <button class="btn" type="submit">👍 Like</button>
        </form>
      <%= } else { %>
        <p><a class="link" href="/auth/log-in">Log in</a> to leave a Like</p>
      <%= } %>

      <!-- Link to index -->
      <a class="link" href="/destinations">Back to Destinations</a>
    </main>
  </body>
</html>